/*Paleta de colores*/
$micolor:#666666;
$letra:#b445d6;

/*Seccion de bienvenida*/
$fuente: "Comic Sans", Helvetica;
$borde: 1px solid #863;

/*Imagen*/
$height: 200px;
$width: 200px;

/*Funcionamiento*/