.toDoContainer {
    width: 500px;
    margin: 100px 500px;
    display: flex;
    flex-direction: column;
  }
  
  .toDoCreateForm {
    display: flex;
    gap: 5px;
  }
  
  .toDoInput {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #999;
    background-color: grey;
  }
  
  .buttonCreate {
    border: none;
    border-radius: 3px;
    background-color: rgb(26, 76, 169);
    color: white;
    padding: 10px 20px;
  }
  
  .toDosContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    background-color: grey;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
  }
  
  .toDo {
    padding: 10px;
  }
  
  .toDoTitle {
    flex: 1;
    font-size: 20px;
  }
   .toDoUpdateForm,
  .toDoInfo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .button {
    border: none;
    border-radius: 3px;
    background-color: rgb(26, 76, 169);
    color: white;
    padding: 5px 20px;
  }
  
  .buttonDelete {
    border: none;
    border-radius: 3px;
    background-color: rgb(169, 26, 26);
    color: white;
    padding: 5px 20px;
  }