@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: black;

    .container{
        margin-top: 25px;
    }
    

    .navbar{

        input{
            margin-top: 5px;
            margin-bottom: 5px;
            background:white; 
            font-size: 20px;
            cursor:auto;
        }  
    }

    .card-body{
        background-color: #696969;
        border: 2px solid white;
        border-radius: 10px;
        margin: 20px;
        box-shadow: 2px;
        cursor: pointer;
    }
    
    .card-img{
        width: 100px;
        height: 200px;
        object-fit: cover;
        filter: drop-shadow(0 0 5px black);        
        
        &:hover{
            background-color: white;
            text-decoration: inherit;
            overflow:hidden;
            box-shadow: 0 0 10px black;
            transition: 1s;
            border-radius: 50%;
        }
        
    }
    
    .card-title{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

}